# Entorno virtual
venv/
.venv/
env/

# Variables de entorno (SECRETOS)
.env

# Archivos de Python
__pycache__/
*.py[cod]
*$py.class

# Distribución / Instalación
dist/
build/
*.exe

# Depuración de Word
debug_table.txt

